body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #5a5a5a;
}

a {
  color: #00B7FF;
}

.mojeSporocilo, .sistemSporocilo, .trenutniUporabniki, .private204, .ERR404 {
  padding: 2px;
}

#smajliSupport {
  font-size: 14px;
}

.desno {
  float: right;
  width: 15%;
}

#vsebina {
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
  padding: 5px;
  font-weight: bold;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  float: left;
  border-bottom: 1px solid #FFFFCC;
  border-top: 1px solid #FFFFCC;
}

#seznam-kanalov {
  width: 100%;
  height: 150px;
  overflow: auto;
  border-top: 1px solid #898989;
  border-right: 1px solid #898989;
  margin-left: -1px;
}

#seznam-uporabnikov {
  width: 100%;
  height: 150px;
  overflow: auto;
  border-top: 1px solid #898989;
  border-right: 1px solid #898989;
  border-bottom: 1px solid #898989;
  margin-left: -1px;
}

#seznam-kanalov div, #seznam-uporabnikov div {
  border-bottom: 1px solid #898989;
  cursor: pointer;
  color: #E5E592;
  padding-left: 5px;
}

.privatni {
  color: red;  
}

#seznam-kanalov div:hover, #seznam-uporabnikov div:hover {
  background-color: #898989;
  color: #E5E592;
}

#poslji-sporocilo {
  width: 85%;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: -2px;
}

#poslji-gumb {
  width: 50px;
  margin-bottom: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
  padding-top: 10px;
}